.jumbotron{
    background-color: aqua;
    color: black;
    margin-top: 50px;
}
footer{
    padding: 10px 10px 0 10px ;
    background-color: aqua;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-accesorio{
    flex: 1 200px;
    margin-top: 10px;

}
.btn_reverse{
    width: 100%;
    border-radius:0px;
}
.footer-adress-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top:10 px ;
}