$yellow:#e9ad07;
$red:#ffffff;
@mixin margenes($top,$button) 
{
    margin-top :$top;
    margin-bottom:$button ;
    
}
.jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(50px,0px )
}
footer{
    padding: 10px 10px 0 10px ;
    background-color:$yellow;
    @include margenes(10px,0px )
}
.card-accesorio{
    flex: 1 200px;
    @include margenes(10px,0px )
}
.btn_reverse{
    width: 100%;
    border-radius:0px;
}
.footer-adress-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top:10 px ;
}