.jumbotron {
  background-color: #f5e533;
  color: black;
  margin-top: 50px;
  margin-botton: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #f5e533;
  margin-top: 10px;
  margin-botton: 0px;
}
.card-accesorio {
  flex: 1 200px;
  margin-top: 10px;
  margin-botton: 0px;
}
.btn_reverse {
  width: 100%;
  border-radius: 0px;
}
.footer-adress-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10 px;
}
